<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721054984353-vr8njhvedhho3e0pd4989ifb0hk17e85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721054984353-vr8njhvedhho3e0pd4989ifb0hk17e85</string>
	<key>API_KEY</key>
	<string>AIzaSyDy5zrJGrIysguCzbstew2SYCttCiNU5Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>721054984353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WITCRD.StuntScience</string>
	<key>PROJECT_ID</key>
	<string>stuntscience-75ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>stuntscience-75ad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721054984353:ios:64e7301e60044f375be8e0</string>
</dict>
</plist>